/* Styles for the overall content layout */
.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.menuItem {
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: -0.5rem;
  font-family: 'Inter', sans-serif;
}

.menuItem:hover {
  background-color: #EC7126;
  border-radius: 10px;
}


.title {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #141211;
  text-align: center;
  margin-bottom: 20px;
  color:white;
}

.accountInfoContainer { 
  width: 350px; padding: 50px; 
  background-color: rgba(149, 145, 145, 0.096);
  color: white;
  border-radius: 5%; 
  text-align: center; 
  position: absolute; 
  left: 60vw; 
  top: 50vh; 
  transform: translate(-50%, -50%); }

.inputContainer {
  position: relative;
  margin-bottom: 20px;
}

.input:focus {
  border-color: #EC7126;
  outline: none;
  box-shadow: 0 0 0 2px #EC7126;
}

.labelCaption {
  position: absolute;
  left: 12px;
  top: -10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: 3px solid white;
  color: #575353;
  background-color: #FFFFFF;
}

.button {
  height: 36px;
  width: 100%;
  max-width: 90px;
  background-color: #EC7126;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.menubar {
  position:absolute; 
  width:18vw;
  top:20vh;
  left: 2vw;
}