.content {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  padding: 20px;
}

.menuItem {
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: -0,5rem;
  font-family: "inter", sans-serif ;
}

.menuItem:hover {
  background-color: #EC7126;
  border-radius: 10px;

}

.rightContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width:100vw;
  height:100vh;
}

.title {
  display: flex;
  font-size: 3rem;
}

