.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0); /* Semi-transparent background for better readability */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    width: 300px; /* Taille du logo */
    height: auto; /* Ajuster la hauteur en conséquence */
    margin-right: 20px; /* Espacement entre le logo et le reste du contenu */
}

  
  .droite {
    display: flex;
    align-items: center;
    color:#fff;
    font-size:1.2rem;
  }
  
  .setting {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1100;
    
  }
  
  .button {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #EC7126;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #FFA76E;
  }
  
  .gear {
    transition: transform 0.3s ease;
  }
  
  .gear {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-weight: 600;
  }
  