@import url('https://fonts.googleapis.com/css2?family=Inter');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 2rem;
  
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo img {
  max-width: 20vw;
  background-color: transparent;
}

.overlay {
  background-color: transparent;
  padding: 2rem;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.content {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 70vw;
  height: 50vh;
  gap: 2rem; 
}

.auth {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.036);
  padding: 3rem; 
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  width: 100%;
  max-width: 24vw;
  align-items: center;
  /* margin-right: 15rem; */
}

.inputContainer {
  /* margin-bottom: 1.5rem; */
  padding: auto;
  width: 100%;
}

.labelCaption {
  display: block;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button {
  width: 50%;
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  background-color: #EC7126;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.3rem;
  margin: 1rem;
}

.button:hover {
  background-color: #e7a881;
}

.separator {
  display: flex;
  width:100%;
  /* margin: 1.5rem 0; */
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@supports not ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
  .overlay {
    background-color: #34343480;
  }
  .auth {
    background-color: #34343480;
  }
}

.titlePresentation {
  font-size: 2.7rem;
  margin-bottom: 1rem;
  text-align: left;
  /* padding-left: 10rem; */
}

.paragraphPresentation {
  font-size: 1.4rem;
  margin-bottom: 0rem;
  text-align: left;
  /* padding-left: 10rem; */
  /* word-spacing: 0.2rem; */
  line-height: 2.8rem;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error{
  color: rgb(249, 72, 72);
}

.betweenParagraphs {
  height:20px;
}