@import url('https://fonts.googleapis.com/css2?family=Inter');

.tableContainer {
  margin: auto;
  padding: 10px;
  background-color: rgba(243, 240, 240, 0.250);
  border: 1px solid #EC7126;
  border-radius: 8px;
  text-align: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Inter', sans-serif;
  
}

.table th,
.table td {
  padding: 12px;
  width: 25vw;
  border: 1px solid #ddd;
}

.table th {
  background-color: #e7a881;
  color: white;
  font-weight: bold;
}

.table tr:nth-child(even) {
  background-color: rgba(252, 252, 252, 0.250);
}

.table tr:hover {
  background-color:rgba(184, 34, 26, 0.2)
}

.deleteButton {
  background-color: #e7a881;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.deleteButton:hover {
  background-color: #ff704d;
}
