.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne le formulaire à droite */
    justify-content: space-between; /* Espace entre les éléments */
    height:auto;
    width:50vw;
    padding: 20px;
    box-sizing: border-box;
    background-color: orange;
    margin-bottom: 1vh;
  }
  
  .newWalletContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 40vw;
    margin-bottom: 20px; /* Spacing entre le champ d'adresse et le bouton "+" */
  }
  
  .addButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .submitBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: auto; /* Empêche le bouton de se coller au haut du formulaire */
  }
  